extends ../../home.pug

block content
    h1= "Utilisateur " +  user.firstname + " " + user.lastname

    ul
        li= user.email
        li= user.password
        li= user.city
        li= user.zipCode
        li= user.street
        li= user.phoneNumber

    a(class='button' href=`/users/${user.id}/edit`) Modifier mon profil