extends ../../home.pug
block content
    h1= 'Producteur ' +  user.firstname +' '+ user.lastname

    ul
        li= user.email
        li= user.password
        li= user.city
        li= user.zipCode
        li= user.street
        li= user.phoneNumber
        if user.id === producer.userId
            li= producer.description

    each product in products
        li
            a(class='button' href=`/products/${product.id}`)= product.name
            form(method='POST', action=`/users/${user.id}/buy/${product.id}`)
                button.btn.btn-primary(type='submit') Acheter ce produit
            br