extends ../../home.pug
block content
    h1= 'Producteur ' +  user.firstname +' '+ user.lastname

    ul
        li= user.email
        li= user.password
        li= user.city
        li= user.zipCode
        li= user.street
        li= user.phoneNumber
        if user.id === producer.userId
            li= producer.description